<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.ShoppingSystemMapper">
<!--    <resultMap id="BaseResultMap" type="com.neu.vo.ShoppingSystem">-->
<!--        <id column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="key_name" jdbcType="VARCHAR" property="keyName" />-->
<!--        <result column="key_value" jdbcType="VARCHAR" property="keyValue" />-->
<!--        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />-->
<!--        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
<!--        <result column="deleted" jdbcType="BIT" property="deleted" />-->
<!--    </resultMap>-->
<!--    <sql id="Base_Column_List">-->
<!--        id, key_name, key_value, add_time, update_time, deleted-->
<!--    </sql>-->
<!--    <select id="selectByExample" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from shopping_system-->
<!--        where key_name like concat("%",'shopping_mall',"%")-->
<!--    </select>-->
<!--    <select id="selectByExample1" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from shopping_system-->
<!--        where key_name like concat("%",'shopping_express_freight',"%")-->
<!--    </select>-->
<!--    <select id="selectByExample2" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from shopping_system-->
<!--        where key_name like concat("%",'shopping_wx',"%")-->
<!--    </select>-->
<!--&lt;!&ndash;    <update id="updateByExampleSelective">&ndash;&gt;-->
<!--&lt;!&ndash;       update shopping_system SET key_value="" WHERE key_name = "shopping_express_freight_min";&ndash;&gt;-->
<!--&lt;!&ndash;       SELECT * from shopping_system WHERE key_name like "shopping_express_freight%"&ndash;&gt;-->
<!--&lt;!&ndash;    </update>&ndash;&gt;-->
<!--    <update id="updateByExampleSelective">-->
<!--         update shopping_system set key_value=#{val} where key_name=#{key}-->
<!--    </update>-->
    <select id="selectByExample" resultType="com.neu.vo.ShoppingSystem">
        select id,key_name,key_value from shopping_system where deleted=0
    </select>

    <update id="updateByExampleSelective">
        update shopping_system set key_value=#{key_value},update_time=now() where key_name=#{key_name}
    </update>
</mapper>
