<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.ShoppingTopicMapper">
    <resultMap id="BaseResultMap" type="com.neu.vo.ShoppingTopic">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="read_count" jdbcType="VARCHAR" property="readCount" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="goods" jdbcType="VARCHAR" property="goods" typeHandler="com.neu.common.JsonIntegerArrayTypeHandler"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <sql id="topic_sql">
        id,title,subtitle,content,price,read_count,pic_url,sort_order,goods,add_time,update_time,deleted
    </sql>
    <select id="selectByExampleWithBLOBs" resultMap="BaseResultMap">
        select <include refid="topic_sql"/>
        from shopping_topic
        where
        deleted != 1
        <if test="title != null">
            and title like concat("%",#{title},"%")
        </if>
        <if test="subtitle != null">
            and subtitle like concat("%",#{subtitle},"%")
        </if>
        <if test="order != null and sort != null">
            order by ${sort} ${order}
        </if>
        limit  ${(page-1)*limit},#{limit}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select <include refid="topic_sql"/>
        from shopping_topic
        where
        deleted != 1
        and id = #{id}
    </select>
    <insert id="insertSelective">
        insert into shopping_topic        (title,subtitle,content,price,read_count,pic_url,sort_order,goods,add_time,update_time,deleted)
        values
        (#{title},#{subtitle},#{content},#{price},#{readCount},#{picUrl},0,#{goods,typeHandler=com.neu.common.JsonIntegerArrayTypeHandler},now(),now(),0)
    </insert>
    <update id="updateByExampleSelective" >
        update shopping_topic
        set title = #{title},subtitle = #{subtitle},content = #{content},price = #{price},pic_url = #{picUrl},goods = #{goods,typeHandler=com.neu.common.JsonIntegerArrayTypeHandler},update_time=now()
        where id =#{id}
    </update>
    <update id="logicalDeleteByExample" >
        update shopping_topic
        set deleted = 1
        where id =#{id}
    </update>
</mapper>